.btn {
  padding: 0.25rem 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.btn.btn-primary {
  background: #3333ff;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-primary {
  background: white;
  color: #3333ff;
  border-color: #3333ff;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-primary:hover {
  background: #3333ff;
  color: white;
}

.btn.btn-secondary {
  background: #666666;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-secondary {
  background: white;
  color: #666666;
  border-color: #666666;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-secondary:hover {
  background: #666666;
  color: white;
}

.btn.btn-warning {
  background: #7A7A00;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-warning {
  background: white;
  color: #7A7A00;
  border-color: #7A7A00;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-warning:hover {
  background: #7A7A00;
  color: white;
}

.btn.btn-danger {
  background: #EB0000;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-danger {
  background: white;
  color: #EB0000;
  border-color: #EB0000;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-danger:hover {
  background: #EB0000;
  color: white;
}

.btn.btn-light {
  background: #e6e6e6;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-light {
  background: white;
  color: #e6e6e6;
  border-color: #e6e6e6;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-light:hover {
  background: #e6e6e6;
  color: white;
}

.btn.btn-dark {
  background: #1a1a1a;
  color: white;
  border: none;
  border-radius: 5%;
}

.btn.btn-outline-dark {
  background: white;
  color: #1a1a1a;
  border-color: #1a1a1a;
  border-radius: 0.25rem;
  transition: background-color 0.25s, color 0.25s;
}

.btn.btn-outline-dark:hover {
  background: #1a1a1a;
  color: white;
}