.navbar {
  padding: 1.5rem;
  box-shadow: 0px 5px 10px -5px #808080;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.navbar .search-button {
  background-image: url("../Images/magnifier.svg");
  background-size: cover;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  display: inline-block;
}